@{
    ViewBag.Title = "Unauthorized";
}

<div class="text-center">
    <h1 class="text-danger">Oops. Looks like you do not have access to view any reports.</h1>
    <h2 class="text-danger">Please contact <a href="mailto:devops@calpine.com?subject=Calpine%20Azure%20Dashboard%20access%20request">DevOps</a> for access.</h2>
    <img src="../../img/unauthorized.png" style="padding-top: 3%">
</div>